.css-1v4ccyo {
  border: 1px solid $c-white;
  color: $c-white !important;
}

.css-p0rm37 {
  color: $c-white !important;
  font-family: "DM Sans", sans-serif;
}

.css-pwxzbm {
  background-color: $c-black !important;
}
