@import "./../styles/vars.scss";
@import "./../styles/reset.scss";

@import "./../components/MovieItem/MovieItem.scss";
@import "./../components/MovieList/MoviesList.scss";

* {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  color: $c-black;
}

body {
  padding-top: 15%;
  padding-inline: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
}

.App {
  display: grid;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  grid-template-columns: 2fr 1fr;
}

.select-region {
  --columns: 2;
  display: grid;
  justify-content: center;
  align-items: end;
  column-gap: 16px;
  grid-template-columns: repeat(var(--columns), 1fr);
}

