@import "./../styles/utils/vars.scss";
@import "./../styles/utils/reset.scss";
@import "./../styles/utils/resetMUIStyles.scss";
@import "./../styles/utils/mixins.scss";

@import "./../components/MovieItem/MovieItem.scss";
@import "./../components/MovieList/MoviesList.scss";

* {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  color: $c-white;
}

body {
  padding-top: 15%;
  background: url('./../../public/images/bg-red.jpg');

  @include onDesktop {
    background-size: cover;
    background-repeat: no-repeat;
  }

  @include paddingInline;

  background-color: $c-black;
}

.App {
  @include grid;

  &__select-region {
    --columns: 2;
    display: grid;
    justify-content: center;
    align-items: end;
    column-gap: 16px;
    grid-template-columns: repeat(var(--columns), 1fr);
  }
}
